// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {

    background-image: url("blueplane.jpg");
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;
    height: 99%;
    margin: 0 auto;
}

h1 {
  font-family: 'Bitter', serif;
  padding-top: 1rem;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
  margin-top:5px;
}
